.SingleTodo {
  display: grid;
  margin: 10px;
  padding: 10px;
  grid-template-columns: 2fr 8fr 1fr 1fr;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #b8c5c1;
  background-image: linear-gradient(to bottom right, #abbbdb, #a0abdf);
  box-shadow: 5px 3px 3px #c0ccc8;
  &__task {
    margin-right: 10px;
  }

  &__icon {
    cursor: pointer;
    &:active {
      color: white;
    }
    &__done {
      color: white;
    }
  }
  &__done {
    background-image: linear-gradient(to bottom right, lightgreen, green);
    box-shadow: 5px 3px 3px lightgreen;
  }
}
