.tdl {
  &_wrapper {
    margin-top: 100px;
    padding: 10px;
    background-color: #e9f1f5;
    box-shadow: 10px 5px 5px #c0ccc8;
  }
  &_title {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }
}
