.tdl {
  &_wrapper {
    margin: 100px 20px;
    padding-top: 10px;
    background-color: #e9f5f1;
    box-shadow: 10px 5px 5px #c0ccc8;
    height: 80vh;
  }
  &_title {
    text-align: center;
  }
}
