.navbar {
  &__wrapper {
    height: 100px;
    background-image: linear-gradient(
      to bottom right,
      #7593cf,
      #5069d6,
      #5069d3
    );

    &__image {
      cursor: pointer;
    }
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.904) !important;
  font-weight: bold;
}
