html {
  margin-top: 100px;
  background-color: #e9f1f5;
}

.btn {
  background-image: linear-gradient(to bottom right, #5069d6, #5069d6, #5069d6);
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
  &- {
    -secondary {
      background-image: linear-gradient(
        to bottom right,
        #bdc6ee,
        #bfc7f1,
        #d1d7f3
      );
      &:focus,
      &:active {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
}
